
html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
.icon{
  width: 24px;
  height: 24px;
}
//背景色
$background:#99CCCC;
//导航色
$nav:#FFCC99;
//标签色
$tag:#FFCCCC

